
.fixedArea {
    position: fixed;
    left: 0%;
    top: 0px;
    z-index: 9;
    padding-left: 10px;
    width: 100%;
}


.noPadding{
    padding: 0px;
}

.logo{
    margin-top: 5px;
}

p.colorfullText {
    color: #fab000;
    letter-spacing: 2px;
}
.img-responsive logo{
	width:20px;
	height:20px;
}


* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins';
}

/*---------------------------------------------*/
a {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

.logo-text a{
  display: block;
  line-height: 0;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}




/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
outline: none;
border: none;
}

textarea:focus, input:focus {
border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }



/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


.classic{
    max-width: 100px;
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 20px;
}

.slide-content h3{
    font-family: 'Roboto';
    margin-bottom: 20px;
    font-size: 22px;
}


.owl-item.active .slide-content h2, 
.owl-item.active .slide-content h3, 
.owl-item.active .slide-content p
{
  visibility: visible;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeInUp;
}



.slide-content h2{
    font-family: 'Righteous';
    margin-bottom: 20px;
    font-size: 52px;
    visibility: hidden;

}


.slide-content p{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff70;
    font-family: 'Roboto';
    font-size: 18px;
    visibility: hidden;

}

.slider-content-area{
    position: absolute;
    top: 25%;
    /* background: #dddddd38; */
    color: #fff;
    font-size: 30px;
    left: 10%;
    right: 10%;
}

.slider-area, .main-slider {
  position: relative;
  height: 100%;
}


.slide-content .default-btn{
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  font-size: 22px;
  color: #fff;
}

.main-slider div:not(.owl-nav):not(.owl-prev):not(.owl-prev):not(.owl-next) {
  height: 100%;
}






.owl-dots {
    counter-reset: dots;
}
.owl-dot:before {
    counter-increment:dots;
    content: counter(dots);
}
.owl-dots {
    counter-reset: dots;
    position: absolute;
    bottom: 95px;
    display: flex;
}
.owl-dot {
    margin-left: 10px;
    border: 2px solid;
    padding:8px;
    border-radius: 40px;
    width: 35px;
    height: 35px;
}
.owl-dot.active {
    margin-left: 10px;
    border: 2px solid #ffffff70;
    padding:10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    color: #ffffff70;
}
.owl-carousel .owl-dot, 
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    text-align: center;
}



.topOff{
  padding-top: 50px;
}

.colorfullPanel{
  background-color: #333333;
  color: #fff;
  transition: background-color 0.5s ease;
}

.colorfullPanel h3{
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: 'Righteous';
  position: relative;
}

.colorfullPanel h2{
  margin-bottom: 15px;
  font-size: 36px;
  position: relative;

}


.colorfullPanel h2 span{
    font-size: 36px;
    color: #85a900;
    position: relative;

}

.colorfullPanel p{
  margin-bottom: 40px;
  position: relative;

}

.colorfullPanel:hover {
  background-color: #000;
}
